
/* Geral */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #81796b;
}

/* pesquisa */

.pesquisa {
    background-color: #ebeaeb;
    text-align: right;
    padding: 0 30px;
}

/* menu */

.menu {
    padding: 30px;
    background-color: #ebeaeb;
    text-align: right;
}

.menu a {
    padding: 10px;
    color: #81796b;
    text-decoration: none;
}


/* Banner */

.banner {
    margin: 10px;
    border: 1px solid black;
    max-width: 100%;
    border-radius: 5px;
}

/* rodape */

.rodape {
    background-color: #ebeaeb;
    padding: 80px;
}

.rodape-descricao {
    font-size: small;
}

.rodape a{
    color: #81796b;
    text-decoration: none;
}



